body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #0e0e10;

    font-family: sans-serif;
    color: #fff;
}

.container{
    background-color: #18181b;
    width: 700px;
    margin: 0px auto;
    padding: 30px 65px;
}

.main_content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_content i{
    float: left;
    font-size: 52px;
    margin-right: 20px;
}

.main_content h1{
    font-size: 1.4rem;
}

form{
    display: flex;
    align-items: flex-start;
    flex-flow: wrap column;
    width: 100%;
    margin-top: 27px;
}

#name_password label, #data label, #telephone label{
    font-size: 0.9rem;
    font-weight: 600;
    float: left;
    display:inline;
    width: 100%;
    margin-bottom: 5px;
}

#name, #password, #phone{
    text-indent: 9px;
}

#name, #password, #phone:not(:focus) {
    color: white; 
}

#name .space_password , input{
    margin-bottom: 20px;
}

#name_password input{
    width: 100%;
    height: 42px;
    margin-top: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #18181b;
}

#name_password > .space_password{
    margin-top: 33px;
}

    /* Data de Nascimento */

form > #data{
    display: flex;
    flex-flow: wrap row;
    width: 100%;    
    margin: 37px 0px 47px;   
}

#data label{
    margin-bottom: 13px;
}

#data > select , #telephone > select{
    background-color: #18181b;
    color: #fff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #18181b;
}

#data >.height{
    height: 50px;
    font-size: 21px;
    padding-left: 7px;
}

#dia{
    flex-grow: 1;
    margin-right: 15px;
}

#mes{
    flex-grow: 4;
    margin-right: 15px;
}

#ano{
    flex-grow: 1;
}

#name_password > input:focus{
    outline: none; 
    border-radius: 6px; 
    border: #bf94ff 3px solid;
    color: #f0f8ff;
}

#name_passwprd > #input{
    padding-left: 27px;
}

    /* Número de Telefone */

#telephone {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.phone-row {
    display: flex;
    gap: 10px; 
    height: 44px;
}

#section_phone{
    flex-grow: 2.3;
    background-color: #18181b;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    padding-left: 7px;
}

.phone-row > #phone{
    flex-grow: 2;
    background-color: #18181b;
    border: 1px solid #fff;
    height: 40px;
    border-radius: 4px;
    color: white;
} 

.btn-email {
    align-self: flex-start; 
    margin-top: 9px;
    padding: 9px 14px; 
    font-family:'Franklin Gothic Medium';
    font-weight: 600;
    color: #bf94ff;
    background-color: #18181b;
    border: none;
    cursor: pointer;
}

.btn-email:hover{
    background-color: #7e7e7e;
    color: #fff;
    border-radius: 4px;
}

    /* Texto */

.texts , p{
    font-size: 0.88rem;
    font-weight: 300;
    font-family:'Times New Roman', Times, serif;
}

.texts > p:first-child{
    margin-bottom: 32px;
}

.texts > p >.link{
    color: #bf94ff;
}

/* Ultimos Botões */

.last_btns{
    display: flex;
    align-self: flex-start;
    flex-flow: wrap column;
    width: 100%;
}

.btn{
    border: none;
    border-radius: 4px;
    padding: 12px 0px;
    margin: 12px 0px 13px;
    font-weight: 600;
}

.btn1{
    background-color: #232328;
    color: #63636a;
    cursor:not-allowed;
}

.btn2{
    background-color: #18181b;
    color: #bf94ff;
    font-weight: 600;
    cursor: pointer;
}

.btn2:hover{
    background-color: #7e7e7e;
    color: #fff;
}
